@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-poppins {
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
  }
  .bg-background {
    background-image: url(/assets/background.jpeg);
  }
  .bg-background- {
    background-image: url(/assets/background-8.jpeg);
  }
}
