@import url("https://fonts.googleapis.com/css2?family=SF Pro:wght@400;650");
@import url("https://api.fontshare.com/css?f[]=sf pro@400,650&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600");
@import url("https://api.fontshare.com/css?f[]=poppins@400,600&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}
